/Alumno.class
/Asignatura.class
/Cubo.class
/Edificios.class
/Ejercicio2.class
/Equipo.class
/GestionaCubo.class
/GestionaEdificios.class
/GestionaEquipo.class
/GestionaParticipantes.class
/Participante.class
/Persona.class
/Personas.class
/package-info.class
